* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --secondary-color: #e2eddf;
    --font-public-sans: "Public Sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

/* ============= Common ============= */
.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-white, #fff);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    min-width: 17.3rem;
    height: 5.7rem;
    border-radius: 999px;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
}
/* ============= Header ============= */
.header {
    position: sticky;
    z-index: 1;
    top: -16px;
    font-family: var(--font-public-sans);
    padding-top: 16px;
}
.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.header__inner::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
    margin-right: 69px;
}

.navbar__item {
    padding: 8px 19px;
}

.navbar__link {
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.navbar__link:hover {
    color: var(--primary-color);
}

.navbar__link--active {
    position: relative;
    color: var(--primary-color);
}

.navbar__link--active::after {
    position: absolute;
    display: inline-block;
    content: "";
    z-index: 1;
    width: 16px;
    height: 2px;
    bottom: -30px;
    left: 2px;
    background: var(--primary-color);
}
